

.sidebar{
  min-width: 260px;
  border-right: 0.5px solid rgb(230, 230, 227);
  padding: 0 10px;
  height: 100vh;
  background-color: #11101d;
  border-top-right-radius: 10px;
  position: relative;  
  transition: all 0.1s ease;

  //if sidebar close
  &.close { 
    min-width: 70px;
    transition: all 0.2s ease;
    // sidebar header
    .sidebar-header .logo_name {
      display: none;
      
    }
  }

  //normal sidebar
  .sidebar-header{
    text-decoration: none;
    color: #fff;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;

    .logo{
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 70px;
      
      img{
        width: 35px;
        background-color: #fff;
        padding: 7px;
        border-radius: 7px;
      }
    } 


    .logo_name{
      white-space: nowrap;
      font-size: 28px;
      font-weight: 600;
      margin-left: 10px;
    }
  }

  .sidebar-menu{
    list-style: none;
    margin: 0;
    padding-left: 0;
    padding-top: 20px;
    background-color: #11101d;
    

    .sidebar-menu_item{
      position: relative;

      &:hover{
        background-color: #1d1b31;
        transition: all 0.3s ease;
      }

    }
    
  }

  //toggle btn
  .sidebar-toggleBtn-wp{
    position: absolute;
    height: 80px;
    top: 0;
    right: -70px;
    display: flex;
    align-items: center;
    .sidebar-toggleBtn{

      padding: 5px 0;
      min-width: 50px;
      background-color: #fefeff;

      .sidebar-toggleBtn--icon{
        font-weight: 500;
      }

    }

  }

}

@keyframes fadeIn {
  0% {opacity:0;}
  25% {opacity:0.25;}
  50% {opacity:0.5;}
  70% {opacity:0.75;}
  100% {opacity:1;}
}
