
<div class="sidebar" [class.close]="isSidebarClose">
    <a routerLink="./" class="sidebar-header">
        <div class="logo">
            <img src="../../../../../assets/images/logo-hutech.png" alt="">
        </div>
        <div class="logo_name">SV-Hutech</div>
    </a>
    <ul  class="sidebar-menu">
        <ng-container *ngFor="let item of sideBarData">
            <app-sidebar-link [item]="item" [miniSidebar]="isSidebarClose"></app-sidebar-link>          

        </ng-container>
        <!-- render menu -->

        <!-- dashboard -->
        <!-- <li class="sidebar-menu_item">
            <a href="" class="sidebar-menu_item--link">
                <mat-icon class="sidebar-menu_item--icon">dashboard</mat-icon>
                <span class="sidebar-menu_item--text">dashboard</span>
            </a>
            <ul class="sidebar-submenu blank">
                <li>
                    <h3 class="header-submenu">dashboard</h3>
                </li>
            </ul>
        </li> -->
        <!-- union book -->
        <!-- <li class="sidebar-menu_item" >
            <a href="" class="sidebar-menu_item--link" routerLink="./union-books">
                <mat-icon class="sidebar-menu_item--icon">auto_stories</mat-icon>
                <span class="sidebar-menu_item--text">sổ đoàn</span>
            </a>
            <ul class="sidebar-submenu blank">
                <li>
                    <h3 class="header-submenu">sổ đoàn</h3>
                </li>
            </ul>
        </li> -->
        <!-- class and major -->
        <!-- <li class="sidebar-menu_item">
            <div class="sidebar-menu_item--has-sub-menu">
                <a href="" class="sidebar-menu_item--link">
                    <mat-icon class="sidebar-menu_item--icon">school</mat-icon>
                    <span class="sidebar-menu_item--text">khoa & lớp</span>
                </a>
                <mat-icon mat-flat-button class="dropdown-icon" (click)="toggleSubMenu()">expand_more</mat-icon>
            </div>
            <ul class="sidebar-submenu">
                <li>
                    <h3 class="header-submenu">khoa & lớp</h3>
                </li>
                <li class="sidebar-submenu_item">
                    <a href="" class="sidebar-menu_item--link sub-menu ">
                        <mat-icon class="sidebar-submenu_item--icon">group</mat-icon>
                        <span class="sidebar-submenu_item--text">Danh sách khoa</span>
                    </a>
                </li>
                <li class="sidebar-submenu_item">
                    <a href="" class="sidebar-menu_item--link sub-menu ">
                        <mat-icon class="sidebar-submenu_item--icon">group</mat-icon>
                        <span class="sidebar-submenu_item--text">Danh sách lớp</span>
                    </a>
                </li>
                <li class="sidebar-submenu_item">
                    <a href="" class="sidebar-menu_item--link sub-menu ">
                        <mat-icon class="sidebar-submenu_item--icon">group</mat-icon>
                        <span class="sidebar-submenu_item--text">Danh sách sinh viên</span>
                    </a>
                </li>
            </ul>
        </li> -->
        <!-- trainning point -->
        <!-- <li class="sidebar-menu_item">
            <div class="sidebar-menu_item--has-sub-menu">
                <a href="" class="sidebar-menu_item--link">
                    <mat-icon class="sidebar-menu_item--icon">school</mat-icon>
                    <span class="sidebar-menu_item--text">Đánh giá rèn luyện</span>
                </a>
                <mat-icon mat-flat-button class="dropdown-icon">expand_more</mat-icon>
            </div>
            <ul class="sidebar-submenu">
                <li>
                    <h3 class="header-submenu">Đánh giá rèn luyện</h3>
                </li>
                <li class="sidebar-submenu_item">
                    <a href="" class="sidebar-menu_item--link sub-menu ">
                        <mat-icon class="sidebar-submenu_item--icon">list_alt</mat-icon>
                        <span class="sidebar-submenu_item--text">Điểm đoàn viên</span>
                    </a>
                </li>
                <li class="sidebar-submenu_item">
                    <a href="" class="sidebar-menu_item--link sub-menu ">
                        <mat-icon class="sidebar-submenu_item--icon">fact_check</mat-icon>
                        <span class="sidebar-submenu_item--text">Điểm lớp</span>
                    </a>
                </li>
                <li class="sidebar-submenu_item">
                    <a href="" class="sidebar-menu_item--link sub-menu ">
                        <mat-icon class="sidebar-submenu_item--icon">fact_check</mat-icon>
                        <span class="sidebar-submenu_item--text">Điểm khoa</span>
                    </a>
                </li>
                <li class="sidebar-submenu_item">
                    <a href="" class="sidebar-menu_item--link sub-menu ">
                        <mat-icon class="sidebar-submenu_item--icon">fact_check</mat-icon>
                        <span class="sidebar-submenu_item--text">Điểm trường</span>
                    </a>
                </li>
                <li class="sidebar-submenu_item">
                    <a href="" class="sidebar-menu_item--link sub-menu ">
                        <mat-icon class="sidebar-submenu_item--icon">checklist_rtl</mat-icon>
                        <span class="sidebar-submenu_item--text">Phiếu chấm</span>
                    </a>
                </li>
            </ul>
        </li> -->
        <!-- judgement point -->
        <!-- <li class="sidebar-menu_item">
            <div class="sidebar-menu_item--has-sub-menu">
                <a href="" class="sidebar-menu_item--link">
                    <mat-icon class="sidebar-menu_item--icon">school</mat-icon>
                    <span class="sidebar-menu_item--text">Đánh giá cán bộ</span>
                </a>
                <mat-icon mat-flat-button class="dropdown-icon">expand_more</mat-icon>
            </div>
            <ul class="sidebar-submenu">
                <li>
                    <h3 class="header-submenu">Đánh giá cán bộ</h3>
                </li>
                <li class="sidebar-submenu_item">
                    <a href="" class="sidebar-menu_item--link sub-menu ">
                        <mat-icon class="sidebar-submenu_item--icon">list_alt</mat-icon>
                        <span class="sidebar-submenu_item--text">Chấm điểm</span>
                    </a>
                </li>
                <li class="sidebar-submenu_item">
                    <a href="" class="sidebar-menu_item--link sub-menu ">
                        <mat-icon class="sidebar-submenu_item--icon">fact_check</mat-icon>
                        <span class="sidebar-submenu_item--text">Xem điểm</span>
                    </a>
                </li>
                <li class="sidebar-submenu_item">
                    <a href="" class="sidebar-menu_item--link sub-menu ">
                        <mat-icon class="sidebar-submenu_item--icon">fact_check</mat-icon>
                        <span class="sidebar-submenu_item--text">Danh sách điểm cá nhân</span>
                    </a>
                </li>
                <li class="sidebar-submenu_item">
                    <a href="" class="sidebar-menu_item--link sub-menu ">
                        <mat-icon class="sidebar-submenu_item--icon">fact_check</mat-icon>
                        <span class="sidebar-submenu_item--text">Danh sách điểm cán bộ</span>
                    </a>
                </li>
            </ul>
        </li> -->
    </ul>
    <div class="sidebar-toggleBtn-wp">
        <button mat-stroked-button class="sidebar-toggleBtn" (click)="toggleSidebar()">
            <mat-icon class="sidebar-toggleBtn--icon">menu</mat-icon>   
        </button>
    </div>
</div>