<div class="wrapper">
    <div class="login-form-wrapper">
        <div class="login-form__left">
            <div class="header">
                <img src="../../../assets/images/hutech.gif" alt="">
                <p>TuoiTreHutech</p>
            </div>
            <div class="body">
                <h2 class="title">Đăng nhập</h2>
                <p class="subtitle">Cổng thông tin đoàn viên dành cho Hutech-er</p>
                <form action="" class="login-form">
                    <mat-form-field appearance="outline">
                        <mat-label>Tài khoản</mat-label>
                        <input type="number | email" matInput placeholder="18********">
                        <mat-icon matSuffix>account_circle</mat-icon>
                        <mat-hint>Vui lòng nhập mssv / email</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="outline" [ngStyle]="{'margin-top':'15px'}">
                        <mat-label>Mật khẩu</mat-label>
                        <input [type]="hide ? 'password' : 'text'" matInput>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-hint>Vui lòng nhập mật khẩu</mat-hint>
                    </mat-form-field>
                </form>
                <div class="option">
                    <mat-checkbox [color]="checkboxColor">Lưu thông tin</mat-checkbox>
                    <a href="" class="contact">Liên hệ admin</a>
                </div>
                <button class="login-form__submit-btn" type="" mat-flat-button color="primary">Đăng nhập</button>
            </div>
            <div class="footer">
                <span>© TuoiTreHutech v.2.0.0</span>
            </div>
        </div>
        <div class="login-form__right">
            <div class="glass-filter"></div>
            <div class="decorate-box circle"></div>
            <div class="decorate-box square"></div>
            <div class="decorate-box oval"></div>
            <img class="thumnail-img" src="../../../assets/images/chibidoan.png" alt="">
            <!-- <img class="thumnail-img logo" src="../../../assets/images/logo-hutech-full.png" alt=""> -->
            <div class="banner-wp">
                <div class="banner">
                    <div class="line">
                        <div class="content">
                            <img src="../../../assets/images/logo-hutech-full.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>