<div class="navbar">
    <div class="wrapper">
        <div class="left"></div>
        <div class="right">
            <!-- <div class="search">
                <mat-icon class='icon'>search</mat-icon>
                <input type="text" placeholder="Search..." />
            </div> -->
            <div class="items">
                <div class="item">
                    <button mat-raised-button matBadge="8" matBadgeColor="warn" matBadgeSize="small">
                        <mat-icon>notifications_none</mat-icon>
                    </button>
                </div>
                <div class="item">
                    <img src="../../../../../assets/images/avatar.jpg" alt="" class="avatar"
                    (click)="toggleUserOptions()"
                    />

                    <div class="user-options-wp" [class.active]="isUserOptions">
                        
                        <div class="user-option">
                            <mat-icon class="user-option-icon">insert_emoticon</mat-icon>
                            <span class="user-option-text">Thông tin người dùng</span>
                        </div>
                        <div class="user-option">
                            <mat-icon class="user-option-icon">settings</mat-icon>
                            <span class="user-option-text">Cài đặt</span>
                        </div>
                        <!-- logout options -->
                        <div class="user-option" (click)="logout()">
                            <mat-icon class="user-option-icon">logout</mat-icon>
                            <span class="user-option-text">Đăng xuất</span>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>