<div class="navbar">
    <div class="wrapper">
        <div class="left">
            <h1>hello</h1>
        </div>
        <div class="right">
            <!-- <div class="search">
                <mat-icon class='icon'>search</mat-icon>
                <input type="text" placeholder="Search..." />
            </div> -->
            <div class="items">
                <div class="item">
                    <button mat-raised-button matBadge="8" matBadgeColor="warn" matBadgeSize="small">
                        <mat-icon>notifications_none</mat-icon>
                    </button>
                </div>
                <div class="item" (click)="logout()">
                    <img src="../../../../../assets/images/avatar.jpg" alt="" class="avatar" />
                </div>
            </div>
        </div>
    </div>
</div>